.list__container {
    margin: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__container ul {
    padding: 0px;
    list-style-type: none;
}

.list__container li {
    font-weight: 500;
}